:root {
    --dark-navy: #020c1b;
    --navy: #0a0d1f;
    --dark-purple: #050030;
    --contrast-color: #4fe0be;
    --violet: #ab99ff;
}

html,
body {
    font-family: "Roboto", "Lato", "Anonymous Pro", "Chilanka", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: white;
    text-align: center;
    font-size: 1.05rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-purple);
    background-size: contain;
}

/* NAVBAR */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width:100%;
    background: linear-gradient(-135deg, rgb(97, 87, 255)  0%,  rgb(255, 102, 102) 100%);
    border-bottom: 1px solid #cccccc6b;
    box-shadow: rgb(7 1 48 / 58%) 0px 20px 30px -10px;
}

#logo img{
    width: 70px;
    padding: 0 20px;
}

.navbar-container ul {
    display: flex;
    gap:10px;
    padding: 0 20px;
    list-style-type: none;
}

.nav-link {
    color: var(--dark-navy);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    margin: 7px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 116.5px;
}

.nav-link:hover {
    background-color: var(--contrast-color);
    color: var(--dark-navy);
    border-radius: 8px;
    transition: 0.5s;
}


/* MAIN */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100vh;
    padding-top: 100px;
}

.section-title {
    font-weight: bold;
    color: var(--contrast-color);
    font-size: 2rem;
}

/* HOME */

.emoji {
    height: 30px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/Stary\ Night\ View.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    border: 1px solid #34054f26;
    padding: 10px;
    background: #2d025145;
    border-radius: 10px;
}

.intro-text {
    font-size: 1.3rem;
    width: 90%;
}

/* BIO */

.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc2b;
    padding: 20px 10px 20px 10px;
    background: #ffffff1a;
    border-radius: 10px;
    max-width: 1200px;
    margin-top: 70px;
}

.bio-container p {
    width: 90%;
    margin: 10px;
}

.bio-img {
    max-width: 30%;
    border-radius: 10px;
    margin: 10px;
}

.text-card {
    display: flex;
    text-align: left;
    width: 93%;
}

.bullet-point {
    width: 20px;
    height: 20px;
    margin: 12px 10px 0;
    align-self: flex-start;
}

/* EXPERIENCE */
.girl-coding-img{
    margin-top: 70px;
    margin-bottom: 25px;
}

/* PORTFOLIO */

#projects {
    width: 93%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #cccccc2b;
    border-radius: 10px;
    max-width: 350px;
    background: #ffffff0f;
}

.project-image img {
    width: 50%;
}

.project-title {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bolder;
    color: var(--violet);
}

.project-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

/* CONTACT */

#contact{
    display: flex;
    justify-content: space-evenly;
}

#contact p{
    font-size: 24px;
    margin-bottom: 80px;
}

.social-media{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.social-links {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
    
.fa-square-github, .fa-linkedin,
.fa-square-facebook{
    font-size: 3rem;
    color: var(--violet);
}


.fa-square-github:hover, .fa-linkedin:hover, .fa-square-facebook:hover{
    color: var(--contrast-color);
    transition: 0.5s;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
}

footer p {
    font-size: 0.9rem;
    margin:0;
}

footer span{
    color: var(--contrast-color)
}